/*ADDITIONAL STYLES*/
#menu-sections {
    padding: 0;
    padding-top: 14px;
    list-style-type: none;
    margin: 0;
}

#menu-sections li {
    display: inline-block;
    width: auto;
}

#menu-sections li:not(:nth-child(1)){
    margin-left: 30px;
}

#menu-sections li.active a{
    color: #333;
    font-weight: bold;
}

/*PAGE*/
.page_rows_no_padding .flat-row{
    padding: 0px;
}


/*investors_home_projects*/
#investors_home_projects{
    border-bottom: 1px solid #efefef;
    background-color: #fcfcfc;
}

#investors_home_projects .rspbld-title{
    text-transform: uppercase;
}

#investors_home_projects .row{
    padding: 20px 0;
}

#investors_home_projects .row.text-center{
    padding: 0;
}


/*Students_home_services*/

.popular-course{
    border-bottom: 1px solid #efefef;
}

/*Lastest new students*/

.lastest_new_students{
    border-bottom: none!important;
}

#subscribe-msg-fail, #subscribe-msg-success{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 5px 0;
}

#subscribe-button.success-subscribe-button{
    background: #3c763d;
}

.input-wrap.email{
    height: 80px;
}

/* Menu of universities */

.sidebar{
    width: auto;
}

/* Page of uni-s */

.le-page-title{
    font-size: 30px
}

.universities_page_description_items{
    margin-top: 25px;
}

.universities_page_description_item .titlebox{
}

.universities_page_description_item p, .universities_page_description_item h5{
    padding-left: 15px;
}

.universities_page_description_item h5{
    font-weight: bold;
    margin-bottom: 10px;
}

.universities_page_description_item .titlebox.titlebox_leftborder{
    border-left: 2px solid #eeeeee;
}

/* Page of uni-s > Uni list */

.le-course-list {
    padding-top: 10px!important;
    padding-bottom: 0;
}

.le-course-list{
    padding-bottom: 30px;
}

.le-course-list .flat-course li{
    font-size: 13px;
    line-height: 49px;
    border-bottom: 1px solid #e3e3e3;
}
.le-course-list .flat-course i{
    padding-right: 9px;
    font-size: 14px;
    padding-left: 2px;
}

.le-course-list li span:last-child {
    float: right;
}

.le-course-list .flat-button.orange{
    margin-top: 21px;
}

/* Uni */

.rspbld-le-university-content.main-content{
    padding: 0 0;
}

.widget-categories ul li.active{
    font-weight: bold;
}

/*Table*/
.rspbld-le-progr-section table.table td{
    border: 2px solid white;
    background: #eaeaea;
    color: #333;
}

/*Contact form*/
.rspbld-le-contact-form{
    margin-top: 74px;
}

.main-content-no-padding{
    padding: 0px!important;
}

.le-blog.have-sidebar .post-content article.post{
    margin-left: 0;
    margin-right: 0;
    width: 30%;
}
.le-blog.have-sidebar .post-content {
    width: 100%;
}

.le-blog.have-sidebar .post-content article.post:nth-of-type(3n+2) {
    margin-left: 25px;
    margin-right: 25px;
}

.flat-title-section .entry-meta {
    padding: 10px 0;
}

.flat-title-section .entry-meta span:not(:first-of-type){
    margin-left: 20px;
}

.flat-title-section .entry-meta a{
    color: #666666;
}

.flat-title-section .entry-meta a:hover{
    color: #ffaa30;
}

.flat-row.row-page{
    padding: 20px 0px;
}

.img-hover:hover {
    opacity: 0.8;
}

/*Static nav*/

.border-gray{
    border: 1px solid #D3D3D3;
}

.li-bold a{
    font-weight: bold;
}

#static-nav > li > a {
    color:#333;
}

#static-nav > li.active > a{
    background-color:white;
    border: 2px solid #CD3D3D;
}

#static-nav > li:not(.active) > a:hover,
#static-nav > li:active:not(.active){
    color: black;
}

/* Project */

.project_logo img{
    transition: 0.6s;
}

.project_logo:hover img{
    transform: scale(1.1);
}

#proj-table > table{
    margin: 0 auto;
    border-collapse: separate!important;
    border-spacing: 4px 7px !important;
}
#proj-table td {
    text-align: center;
    background: #D3D3D3;
    padding:10px 15px;
}

.page_rows_no_padding {
    margin-top: 50px;
}

.img_project{
    max-height: 230px;
}

.projects_project_img{
    max-height: 100px;
}
.projects_project_img-fat{
    max-height: 60px;
}

#contactform input, #contactform textarea{
    margin-bottom: 5px!important;
}

#contactform .submit-wrap{
    margin-top: 20px;
}

select:focus{
    border: 1px solid #ffaa30!important;
}

#applyForm label{
    margin: 10px 0;
}

#applyForm select{
    height: 50px;
}

#applyForm input, #applyForm textarea, #applyForm select{
    margin: 5px 0px;
}

#applyForm label.error{
    margin: 0 10px;
    color: #ffaa30;
}

#applyForm .form-group{
    margin-right: 0;
    margin-left: 0;
}

.slider_li .li_overlay{
    background: rgba(51,51,51,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer{
    color: white!important;
    font-size: 0.78rem;
}

footer .block-about p{
    margin-bottom: 20px;
}

footer .widget-title{
    font-size: 1.2rem!important;
    font-weight: 600;
}

.footer .footer-widgets .col-md-3:first-child {
    padding-top: 0 !important;
}

.footer .widget .widget-title:before{
    background-color: white;
    width: 100%;
}

.widget.block-main_menu li{
    margin-top: 10px;
    color: white;
}

.widget.block-main_menu li a:not(:hover){
    color: white;
}

.widget.block-main_menu ul.submenu{
    margin-left: 15px;
}

footer .block-contacts h5{
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

footer .block-contacts .media{
    margin-top: 15px;
}

.media-h{
    margin-bottom: 2px;
}

footer .sub-heading{
    font-weight: 600;
}

.sub-block-ru h5.sub-heading, .sub-block-ua h5.sub-heading{
    margin-bottom: 20px;
}

.sub-block-ru .media, .sub-block-ua .media{
    margin-top: 5px!important;
}

.sub-block-ua{
    margin-top: 30px;
}

footer .media.footer-social a{
    color: white;
}

footer .media.footer-social a:hover, footer .media.footer-social a:active, footer .media.footer-social a:focus{
    color: #ffaa30;
}

.header .header-wrap .logo img {
    height: 70px;
}

#mainnav .menu{
    display: inline-block;
}

#mainnav > ul.lang-menu > li > a{
    padding: 0 55px 0 0;
}

#mainnav > ul.lang-menu > li > a img{
    margin-bottom: 2px;
}

#mainnav .menu.lang-menu .has-sub:before {
    position: absolute;
    top: 36px;
    right: 33px;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f107";
    color: #424242;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*#mainnav>ul.lang-menu ul.submenu{
    width: 100px;
}*/

#mainnav .menu .has-sub:hover:before, #mainnav > ul.lang-menu > li > a:hover, #mainnav > ul.lang-menu > li.home > a {
    color: #ffaa30;
}