.contact-content {
    text-align: center;
    border: 2px solid #e5e5e5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-content .contact-address {
    padding: 53px 40px 59px;
    position: relative;
}

.contact-address .style1 img {
    margin-top: -128px;
}

.contact-content .details h5 {
    font-family: "montserrat",sans-serif;
    font-size: 20px;
    color: #333333;
    line-height: 25px;
    margin-bottom: 17px;
}

.contact-content .details p {
    margin-bottom: 1px;
}