
.leUniContentAdmin .rspbld-le-university-content.main-content {
    padding: 0 0;
}

.leUniContentAdmin .container {
    padding-left: 0;
    padding-right: 0;
}
.leUniContentAdmin .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.leUniContentAdmin .row {
    margin-right: 0px;
    margin-left: 0px;
}

.leUniContentAdmin .main-content.course-single .blog-title-single h1 {
    margin-left: -3px;
    letter-spacing: -0.2px;
    margin-bottom: 37px;
}

.leUniContentAdmin .blog-posts .blog-title-single h1 {
    text-transform: none;
    margin-bottom: 35px;
}

.leUniContentAdmin .blog-posts .blog-title-single h1, .blog-posts .blog-title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #333;
    font-weight: 700;
    position: relative;
}

.leUniContentAdmin .bold {
    font-weight: 700;
}

.leUniContentAdmin h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #333333;
    margin-bottom: 26px;
}

.leUniContentAdmin h1 {
    font-size: 35px;
    font-weight: 700;
}

.leUniContentAdmin .main-content.course-single .feature-post {
    margin-bottom: 50px;
}

.leUniContentAdmin img {
    max-width: 100%;
    height: auto;
}

.leUniContentAdmin img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.leUniContentAdmin .main-content.course-single .course-widget-price {
    width: 30%;
}

.leUniContentAdmin .main-content.course-single .course-widget-price {
    float: left;
    margin-right: 40px;
}

.leUniContentAdmin .course-widget-price {
    padding: 38px 23px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.leUniContentAdmin .course-widget-price {
    padding: 38px 23px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.leUniContentAdmin .course-widget-price .course-title {
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 17px;
}

.leUniContentAdmin .course-widget-price .course-title {
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 17px;
}

.leUniContentAdmin h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #333333;
    margin-bottom: 26px;
}

.leUniContentAdmin h4 {
    font-size: 18px;
}

.leUniContentAdmin .course-widget-price .course-title:after {
    content: "";
    height: 1px;
    background: #000;
    width: 35px;
    bottom: 0;
    position: absolute;
    left: 0;
}

.leUniContentAdmin .course-widget-price .course-title:after {
    content: "";
    height: 1px;
    background: #000;
    width: 35px;
    bottom: 0;
    position: absolute;
    left: 0;
}

.leUniContentAdmin .course-widget-price ul {
    margin-bottom: 17px;
}

.leUniContentAdmin .course-widget-price ul {
    margin-bottom: 17px;
}

.leUniContentAdmin ul, ol {
    padding: 0;
    margin: 0;
}

.leUniContentAdmin ol, ul {
    list-style: none;
}

.leUniContentAdmin .course-widget-price li {
    font-size: 13px;
    line-height: 49px;
    border-bottom: 1px solid #e3e3e3;
}

.leUniContentAdmin .course-widget-price li {
    font-size: 13px;
    line-height: 49px;
    border-bottom: 1px solid #e3e3e3;
}

.leUniContentAdmin .course-widget-price .flat-button {
    line-height: 58px;
    padding: 0 41px 0 38px;
    letter-spacing: 0.4px;
}

.leUniContentAdmin .flat-button.bg-orange {
    background: #ffaa30;
    border-color: #ffaa30;
}

.leUniContentAdmin .course-widget-price .flat-button {
    line-height: 58px;
    padding: 0 41px 0 38px;
    letter-spacing: 0.4px;
}

.leUniContentAdmin .flat-button.bg-orange {
    background: #ffaa30;
    border-color: #ffaa30;
}

.leUniContentAdmin .flat-button {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 46px;
    padding: 0 17px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.leUniContentAdmin .flat-button {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 46px;
    padding: 0 17px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.leUniContentAdmin .main-content.course-single .entry-content {
    margin-top: -2px;
    line-height: 22px;
    margin-bottom: 67px;
}

.leUniContentAdmin .main-content.course-single .entry-content .title-1 {
    margin-bottom: 18px;
}

.leUniContentAdmin .bold {
    font-weight: 700;
}

.leUniContentAdmin .flat-button.bg-orange:hover {
    background-color: #222;
    border-color: #222;
    color: #fff;
}

.leUniContentAdmin .flat-button.bg-orange:hover {
    background-color: #222;
    border-color: #222;
    color: #fff;
}