.leUniPageAdmin .row{
    margin-right: 0px;
    margin-left: 0px;
}

.leUniPageAdmin .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.leUniPageAdmin p{
    margin: 0 0 10px;
}

.leUniPageAdmin .universities_page_description_item h3, .leUniPageAdmin .universities_page_description_item p{
    padding-left: 20px;
}

.leUniPageAdmin .universities_page_description_item .titlebox{
    padding: 2px 0;
}

.leUniPageAdmin .universities_page_description_item .titlebox.titlebox_leftborder{
    border-left: 2px solid #eeeeee;
}


