.leUniListAdmin .main-content.course-list .post-warp {
    margin-bottom: 0;
}

.leUniListAdmin .main-content .post-warp {
    margin-bottom: 21px;
}

.leUniListAdmin .main-content.course-list .flat-course {
    padding-bottom: 49px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
    display: table;
}

.leUniListAdmin .flat-course {
    border-radius: 3px;
}

.leUniListAdmin .main-content.course-list .featured-post {
    width: 38.558442%;
    margin-right: 30px;
    float: left;
    border-radius: 4px;
}

.leUniListAdmin .main-content.course-list .flat-course .course-content {
    border: none;
    box-shadow: none;
    overflow: hidden;
    padding: 0 30px 0 0;
}

.leUniListAdmin .flat-course .course-content {
    position: relative;
    padding: 28px 29px 24px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    box-shadow: 0px 2px 0px 0px rgba(229, 229, 229, 1);
    line-height: 22px;
}

.leUniListAdmin .main-content.course-list .flat-course .course-content h4 {
    margin-bottom: 20px;
}

.leUniListAdmin .flat-course .course-content h4 {
    margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #333333;
    margin-bottom: 26px;
}

.leUniListAdmin h4 {
    font-size: 18px;
    margin-top: 0;
}

.leUniListAdmin .main-content.course-list .course-content p:last-of-type {
    margin-bottom: 21px;
}

.leUniListAdmin .main-content.course-list .flat-button.orange {
    line-height: 41px;
    font-size: 12px;
    color: #333;
    padding: 0 26px;
}

.leUniListAdmin .flat-button.orange {
    color: #ffaa30;
    border-color: #ffaa30;
}

.leUniListAdmin .flat-button {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 46px;
    padding: 0 17px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.leUniListAdmin .main-content.course-list .flat-button.orange:hover {
    color: #fff;
}

.leUniListAdmin .flat-button:hover {
    background: #ffaa30;
    border-color: #ffaa30;
    color: #fff;
}

.leUniListAdmin a:hover, a.active, a:focus {
    color: #ffaa30;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.leUniListAdmin ul {
    margin-bottom: 17px;
}

.leUniListAdmin ul, .leUniListAdmin ol {
    padding: 0;
    margin: 0;
}

.leUniListAdmin ol, .leUniListAdmin ul {
    list-style: none;
}

.leUniListAdmin li {
    font-size: 13px;
    line-height: 49px;
    border-bottom: 1px solid #e3e3e3;
}

.leUniListAdmin .course-widget-price li i {
    padding-right: 9px;
    font-size: 14px;
    padding-left: 2px;
}

.leUniListAdmin .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leUniListAdmin li span:last-child {
    float: right;
}

.leUniListAdmin .flat-button.orange{
    margin-top: 21px;
}

.leUniListAdmin a{
    color: #333;
}

.leUniListAdmin .row{
    margin: 0;
}